.menu-group {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: visible;
  user-select: none;
}

.menu-group p {
  margin: 0;
}

.menu-group.small {
  height: 32px;
  font-size: .72rem;
}

.menu-group.medium {
  height: 40px;
  font-size: .9rem;
}

.menu-group.large {
  height: 48px;
  font-size: 1.08rem;
}

.menu {
  height: 100%;
}

.menu-label {
  height: 100%;
}

.menu-label.small p {
  padding: 8px 12.8px 4.8px;
}

.menu-label.medium p {
  padding: 10px 16px 6px;
}

.menu-label.large p {
  padding: 12px 19.2px 7.2px;
}
  
.menu-item {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.menu-item.small {
  padding: 6.4px 3.2px;
}

.menu-item.medium {
  padding: 8px 4px;
}

.menu-item.large {
  padding: 9.6px 4.8px;
}

.menu-panel {
  position: absolute;
}

.menu-branch {
  position: relative;
}

.menu-branch-panel {
  position: absolute;
  width: auto;
  left: 100%;
  top: 0;
}

.menu-item-section.small:first-child {
  padding-left: 12.8px;
  padding-right: 25.6px;
}

.menu-item-section.medium:first-child {
  padding-left: 16px;
  padding-right: 32px;
}

.menu-item-section.large:first-child {
  padding-left: 19.2px;
  padding-right: 38.4px;
}

.menu-item-section.small:last-child {
  padding-right: 12.8px;
}

.menu-item-section.medium:last-child {
  padding-right: 16px;
}

.menu-item-section.large:last-child {
  padding-right: 19.2px;
}